<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Groupie-tracker</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col-md-8 col-sm-12">
          <div class="container">
            <div class="row">
              <img class="img-thumbnail col" src="{{.Artist.Image}}" alt="" />
              <div class="col">
                <h1>{{.Artist.Name}}</h1>
                <p>Started activity {{.Artist.CreationDate}}</p>
                <p>First album release {{.Artist.FirstAlbum}}</p>
                <p>
                  Member(s) {{range $index,$member := .Artist.Members}}{{if
                  $index}}, {{end}}{{ $member }}{{end}}
                </p>
              </div>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="align-middle">Date</th>
                <th scope="col" colspan="2" class="text-right">Location</th>
              </tr>
            </thead>
            <tbody>
              {{range .Concerts}}
              <tr>
                <td class="align-middle">{{.Date}}</td>
                <td colspan="2" class="text-right">
                  {{.Location.City}} <br />
                  <div class="country">{{.Location.Country}}</div>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
